<!DOCTYPE html>
<html lang="es">

<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Servicios</title>
  <link rel="stylesheet" href="css/myStyle.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">

</head>


<body>


  <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">


    <div class="container-xxl">

      <a class="navbar-brand" href="index.html"><img class="logoimg" width="136" height="86" src="img\COOLBUS.1.jpg"
          alt="Imagen no encontrada"></a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">


        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="index.html">Inicio</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="productos.html">Productos</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="servicios.html">Servicios</a>
          </li>

          <li class="nav-item dropdown">

            <a class="nav-link dropdown-toggle" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Ayuda
            </a>

            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="contactanos.html">Contactanos</a></li>
              <li><a class="dropdown-item" href="preguntas-frecuentes.html">Preguntas Frecuentes</a></li>
              <li>
                <hr class="dropdown-divider">
            </ul>
          </li>      
        </ul>
        <button type="button" onclick="window.location.href='login.html'">
          Ingresar
        </button>

        <button type="button" onclick="window.location.href='signup.html'">Registrarse</button>
      </div>

    </div>

  </nav>



    <footer class="text-center text-lg-start bg-dark text-muted" id="footer">
      <!-- Section: Social media -->
      <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
        <!-- Left -->       
      </section>
      <!-- Section: Social media -->
  
      <!-- Section: Links  -->
      <section class="">
        <div class="container text-center text-md-start mt-5">
          <!-- Grid row -->
          <div class="row mt-3">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
              <!-- Content -->
              <h6 class="text-uppercase fw-bold mb-4">
                <i class="fas fa-gem me-3"></i>Nosotros
              </h6>
              <p>
                  COOLBUS es una empresa comprometida y confiable. Nace de la necesidad
                  de dar solución a diversos requerimientos del mercado. Somos pioneros en
                  instalación de unidades de Aire Acondicionado para el transporte de
                  pasajeros en diferentes carrocerías nacionales e internacional, ya sea buses
                  nuevos o usados de diferentes dimensiones, con técnicos calificados y de
                  vasta experiencia con 13 años en el Rubro de Aire Acondicionado para el
                  transporte Terrestre de pasajeros.
              </p>
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold mb-4">
                Productos
              </h6>
              <p>
                <a href="#!" class="text-reset">Producto 1</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Producto 2</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Producto 3</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Producto 4</a>
              </p>
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold mb-4">
                Link de Intereses
              </h6>
              <p>
                <a href="preguntas-frecuentes.html" class="text-reset">Preguntas Frecuentes</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Productos</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Servicios</a>
              </p>
              <p>
                <a href="contactanos.html" class="text-reset">Ayuda</a>
              </p>
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold mb-4">Contacto</h6>
              <p><i class="fas fa-home me-3"></i> Curacaví 255, Santiago, Estación Central</p>
              <p>
                <i class="fas fa-envelope me-3"></i>
                luis.coolbus@gmail.com
              </p>
  
            </div>
            <!-- Grid column -->
          </div>
          <!-- Grid row -->
        </div>
      </section>
      <!-- Section: Links  -->
  
      <!-- Copyright -->
      <div id="copyrightid " class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        <p class="textcopyright">© 2023 Copyright Todos los Derechos Reservados,</p>
        <a class="acopyright" href="https://www.lithost.cl" target="_blank">CoolBus</a>
      </div>
      <!-- Copyright -->
    </footer>
  
  
  
  
  
  
  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
      crossorigin="anonymous"></script>
  </body>
  
  
  
  
  </html>       